# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.env

# PyEnv
.python-version

# Docker
*.dockerignore
docker-compose.override.yml

# Pytest
.cache
*.cover
*.log

# Flask specific
instance/
.webassets-cache

# IDE files
.idea/
.vscode/
*.swp
*.swo
